<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index.html"><img width="50" alt="SmartEdKit" src="assets/images/main.logo.png">EdKit<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/all-classes">Classes</a></li>
                        <li><a routerLink="/all-teachers">Teacher</a></li>
                        <li><a routerLink="/">About</a></li>
                        <li><a routerLink="/">Administration</a></li>
                        <li><a routerLink="/">Add Member</a></li>
                        <li><a routerLink="/">Message</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>
