<div id="page">
    <aside id="fh5co-hero" style="background-image: url(assets/images/img_bg_4.jpg); width: 100%;">
        <div class="slider-text-inner">
                <h1 class="heading-section">Our classes</h1>
        </div>
    </aside>

    <div id="fh5co-course">
        <div class="container">
            <div class="row animate-box">
            </div>
            <div class="row">
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/1a.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">1 A</a></h3>
                            <p>Shamali Perera </p>
                            <p>No of Students - 18</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/1b.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">1 B</a></h3>
                            <p>Deepani Perera </p>
                            <p>No of Students - 18</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/2a.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">2 A</a></h3>
                            <p>Thushari Liyanage </p>
                            <p>No of Students - 18</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/2b.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">2 B</a></h3>
                            <p>Anoma Gunarathne</p>
                            <p>No of Students - 18</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/3a.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">3 A</a></h3>
                            <p>Samantha Perera </p>
                            <p>No of Students - 45</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/3b.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">3 B</a></h3>
                            <p>Ramya Kumari </p>
                            <p>No of Students - 36</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/4a.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">4 A</a></h3>
                            <p>Saman Perera </p>
                            <p>No of Students - 35</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/4b.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">4 B</a></h3>
                            <p>Sandhasili de Silva </p>
                            <p>No of Students - 34</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/5a.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">5 A</a></h3>
                            <p>Piyasili Athapaththu</p>
                            <p>No of Students - 39</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a routerLink="/1A" class="course-img" style="background-image: url(assets/images/classes/5b.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a routerLink="/1A">5 B</a></h3>
                            <p>Janaki Sooriarachchi</p>
                            <p>No of Students - 31</p>
                            
                            <span><a routerLink="/1A" class="btn btn-primary btn-sm btn-course">View more</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
</div>
<div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
